<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="hostname" default="172.26.1.1" />
    <node name="robotino_node" pkg="robotino_node" type="robotino_node" output="screen">
        <param name="hostname" value="$(arg hostname)" />
        <param name="max_linear_vel" value="1.0" />
        <param name="min_linear_vel" value="0.001" />
        <param name="max_angular_vel" value="2.0" />
        <param name="min_angular_vel" value="0.001" />
        <remap from="robotino_joint_states" to="joint_states" />
	</node>
</launch>
